<div class="row">
	<div class="parent_404">	
		<!-- content -->
		<div>
			<div class="agileits-subscribe text-center">
				
				<div class="subscribe-w3lsbottom" style="">
					
					<h6>Sorry we cannot find that page.</h6>
					<h2>404</h2>
					<a class="play-icon popup-with-zoom-anim" routerLink="/home">
						<i class="fa fa-home"></i> &nbsp;
						Go Back Home
					</a>
				</div>
				<p class="page-agilemk">page not found</p>
				
				<div class="clear"></div>
			</div>
		</div>
		<!-- //content -->
	</div>
</div>