<div class="" [@routerTransition]>
	<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-3">
			<app-search-bar></app-search-bar>
		</div>
	</div>
	<div class="row text-center">
		<h4 class="text-uppercase inline-block auto-margin space-bottom">My Weather App Homepage</h4>
	</div>
	<div class="row">

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'Istanbul' " >
				</app-weather>
			
		</div>
		

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'Berlin' " >
				</app-weather>
			
		</div>	

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'London' " >
				</app-weather>
			
		</div>

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'Helsinki' " >
				</app-weather>
			
		</div>		

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'Dublin' " >
				</app-weather>
			
		</div>

		<div class="col-md-2 widget_holder">
			
				<app-weather 
					[city]=" 'Vancouver' " >
				</app-weather>
			
		</div>		
	</div>
</div>